
:root,.light {
    --color-accent-1: #3c21c0;
    --color-accent-2: #00f64e;
    --color-dark-1: #080d16;
    --color-dark-2: #1a1f2e;
    --color-light-1: #f3efe9;
    --color-light-2: #ede8e1;
    --color-light-3: #fdfdfd;
    --color-heading: #101b2b;
    --color-text: #5e6265;
    --color-border: #74787b;
}

@media (prefers-color-scheme:dark) {
    :root {
    --color-dark-1: #f3efe9;
    --color-dark-2: #ede8e1;
    --color-light-1: #080d16;
    --color-light-2: #1a1f2e;
    --color-light-3: #08090b;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #74787b;
    }
  }

  .dark {
    --color-dark-1: #f3efe9;
    --color-dark-2: #ede8e1;
    --color-light-1: #171c27;
    --color-light-2: #1a1f2e;
    --color-light-3: #08090b;
    --color-heading: #fff;
    --color-text: #bcbcbc;
    --color-border: #74787b;
}

  .bg-light {
    background-color: #ebf2ef
  }
  .bg-light-1 {
    background-color: var(--color-light-1)
  }
  .bg-light-2 {
    background-color: var(--color-light-2)
  }
  .bg-dark {
    background-color: #171c27
  }
  .bg-dark-1 {
    background-color: var(--color-dark-1)
  }
  .bg-dark-2 {
    background-color: var(--color-dark-2)
  }
  .bg-accent-1 {
    background-color: var(--color-accent-1)
  }

  .color-accent-1 {
    color: var(--color-accent-1)!important;
    text-shadow: none
  }
  .color-accent-2 {
    color: var(--color-accent-2)!important;
    text-shadow: none
  }
  .color-light {
    color: #fff!important
  }
  .color-light-1 {
    color: var(--color-light-1)!important
  }
  .color-light-2 {
    color: var(--color-light-2)!important
  }

  @media(min-width:767px) {
    .bg-md-light-1 {
      background-color: var(--color-light-1)
    }
  }

