.transition-blur {
  opacity: 1;
  transition: 0.25s ease-in-out;
}

html.is-animating .transition-blur {
  opacity: 0;
}

html.is-rendering .transition-blur {
  opacity: 0;
}

.swup-progress-bar {
  height: 4px;
  background-color: var(--color-accent-1);
  z-index: 999999;
}
