img {
    width: 100%;
    height: auto
}
body {
    font-family: sans-serif;
}
.react-codemirror2 {
    height: 400px!important; 
    overflow: scroll; 
  }

  .post-banner {
    margin-bottom: 2.5em;
    border-radius: 15px;
    background-color: rgb(59, 1, 217);
    overflow: hidden;
}

.post-banner img {
    height: 100%;
    object-fit: cover;
    object-position: left;
}