.category-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2.5em;
  overflow: hidden;
  border-radius: 45px;
  background-color: transparent;
  border: 2px solid var(--color-dark-1);
  color: var(--color-dark-1);
}

.category-btn span {
  position: relative;
  z-index: 9;
}

.category-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 45px;
  background-color: var(--color-dark-1);
  transition: 0.25s ease-in-out;
  transform: translateY(100%);
  z-index: 1;
}

.category-btn:hover,
.category-btn.link-active {
  color: var(--color-light-1);
}

.category-btn:hover::before,
.category-btn.link-active::before {
  transform: translateY(0);
}

.post-thumb {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.post-thumb-svg {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 47%;
  height: auto;
  z-index: 9;
}

.post-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 5/3;
}

.archive-category {
  font-size: 85%;
  text-transform: uppercase;
}
