.benefit-card {
    position: relative;
}

.benefit-card::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: calc(100% - 2px);
    height: 65%;
    border: 1px solid var(--color-border);
    border-top: none;
    border-bottom-left-radius: var(--radius-2);
    border-bottom-right-radius: var(--radius-2);
    z-index: -1;
}

.benefit-card::after {
    position: absolute;
    content: "";
    bottom: 30px;
    left: 1px;
    width: calc(100% - 2px);
    height: 45%;
    border: none;
    background-color: var(--color-light-1);
    z-index: -1;
}

.bc-light::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 72%;
    border: none;
    border-radius: var(--radius-2);
    background-color: var(--color-dark-1);
    z-index: -1;
}

.bc-light::after {
    background-color: var(--color-dark-1);
}

.benefit-card-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}