.category-btn {
    display: inline-block;
    padding: 1em 2em;
    border-radius: 45px;
    background-color: var(--color-dark-1);
    color: var(--color-light-1);
}

.post-thumb {

}

.post-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 5/3;
}