.hero {
  position: relative;
  z-index: 1;
}
.hero-card {
  position: relative;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
}
.hero-card-shape-svg {
  width: 80%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes upDown {
  0% {
    transform: translateY(0) rotate(0deg) rotateY(0deg);
  }
  70% {
    transform: translateY(.8em) rotate(3deg) rotateY(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg) rotateY(0deg);
  }
}

.hero-card-content-image {
  position: absolute;
  top: 50%;
  right: 8%;
  width: 28%;
  transform: translateY(-50%) rotate(21deg);
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.slider-hero {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.slider-hero .slide-track {
  display: flex;
  gap: 20px;
  width: 207em;
}

.slider-left .slide-track {
  -webkit-animation: scrollLeft 15s linear infinite;
          animation: scrollLeft 15s linear infinite;
}

.slider-right .slide-track {
  -webkit-animation: scrollRight 15s linear infinite;
          animation: scrollRight 15s linear infinite;
}

.slider-hero .slide img {
  width: 16em
}

.avatar {
  display: inline-block;
  width: 70px;
  margin-right: -8%
}

@media(min-width:1024px) {
  .avatar {
    width: 90px;
  }
  .hero-card-content-image {
    top: 35%;
    right: 4%;
    width: 28%;
    transform: translateY(-50%) rotate(21deg);
  }
  
}