.hero-card {
  position: relative;
  height: 100%;
  border-radius: 25px
}
.hero-card-shape-svg {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes upDown {
  0% {
    transform: translateY(0) rotate(0deg) rotateY(0deg);
  }
  70% {
    transform: translateY(.8em) rotate(3deg) rotateY(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg) rotateY(0deg);
  }
}

.hero-card-content-image {
  position: absolute;
  top: 3.5em;
  right: 0;
  width: 28%;
  animation: upDown 3s infinite cubic-bezier(.79,0,.07,.88)
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(calc(-250px * 7));
  }
  100% {
    transform: translateX(0);
  }
}

.slider {
  height: 150px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider .slide-track {
  display: flex;
  width: calc(250px * 14);
}

.slider-left .slide-track {
  -webkit-animation: scrollLeft 20s linear infinite;
          animation: scrollLeft 20s linear infinite;
}

.slider-right .slide-track {
  -webkit-animation: scrollRight 25s linear infinite;
          animation: scrollRight 25s linear infinite;
}

.slider .slide {
  height: 150px;
  width: 230px;
  margin-right: 20px;
}

.slider .slide img {
  height: 100%;
  object-fit: cover;
}

.avatar {
  width: 90px;
}