.hero-post {
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.hero-post::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-accent-1);
    opacity: 0.95;
    z-index: 1
}

.hero-post-image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hero-post-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}
