
.service-wrap {
    position: relative;
    border-radius: 25px;
    border-top-left-radius: 0;
}

.service-wrap-svg {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -1.5em;
    z-index: 9;
}

.service-card {
    border-radius: 20px;
    min-height: 150px;
    background: var(--color-light-1);
}

.service-card img {
    display: inline-block;
    width: 55px;
}
