
.service-wrap {
    position: relative;
    border-radius: 25px;
}

.service-wrap-svg {
    position: absolute;
    top: 0;
    right: 0;
}

.service-card {
    border-radius: 20px;
    min-height: 120px;
    background: var(--color-light-1);
}

.service-card img {
    display: inline-block;
    width: 55px;
}

.service-card svg {
  
}