.step-card {
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step-card::before {
    position: absolute;
    content: "";
    top: 2%;
    left: 2%;
    bottom: 2%;
    right: 2%;
    border: 1px solid #8e8e8e;
    border-radius: 50%;
    opacity: .5;
    transition: .2s ease-in-out;
}

@media(min-width:767px) {
    
    .step-card:hover::before {
        opacity: 1;
        transform: scale(.95);
    }
}

@media(max-width:768px) {
    .step-card svg {
        width: 2em;
        height: 2em;
    }
    
    .step-card p {
        font-size: 3vw;
    }
}