  .works-grid-item .hover-img-wrap {
    overflow: hidden;
    border-radius: var(--radius-2)
  }

.works-grid-svg {
    position: absolute;
    top: 0;
    width: 46%;
    height: auto;
    z-index: 9;
}

.portfolio-item {
    position: relative;
    border-radius: 15px;
}

.works-item-svg {
    position: absolute;
    top: 0;
    width: 4em;
    height: 4em;  
    z-index: 1;
}

@media(min-width:767px) {
    .works-grid-item {
        background-color: var(--color-light-1);
    }
    .works-grid-item:hover .image-wrapper img {
        transform: scale(1.05);
    }
    .hover-img-wrap .image-wrapper img {
        transition: .4s ease-in-out;
    }
}