</div>
</div>
<!-- Scripts -->
<script src="/assets/js/vendor.js"></script>
<script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script> 
<script src="/assets/js/animations.js"></script>
<script src="/assets/js/script.js"></script>
<script>
  window.addEventListener('load', function(){
  appMain(); animationMain()
  });
  // Swup init
  const swup = new Swup({
    animateHistoryBrowsing: true,
    plugins: [
      new SwupProgressPlugin(),
      new SwupBodyClassPlugin()
    ]
  });
  // Swup events re-init scripts
  document.addEventListener("swup:animationInStart", () => {
    scrollTo(top)
  });
  document.addEventListener("swup:animationInDone", () => {
    appMain(); animationMain()
  }), console.clear(); 

</script>

<!--
<script src="/assets/js/cookieconsent.js" defer></script>
<script src="/assets/js/cookieconsent-init.js" defer></script>
-->


<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Przemek Miros Strony Internetowe",
    "url": "https://przemekmiros.pl/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>   
</body>
</html>