</main>
<footer class="site-footer pt-large pb-large" data-scroll-section>
  <div class="footer-parallax"> 
    <div class="container"> 
      <div class="row gx-0">
       <div class="pt-xlarge pb-xlarge"></div>
      </div>
    </div>
  </div>
</footer>
        <div class="modal" id="modal-one">
          <div class="modal-bg modal-exit"></div>
          <div class="modal-container">
            <div class="modal-content">
            <video id="modalVideo" loading="lazy">
               <source src="/assets/img/hero/video.mp4">
            </video>
            </div>
            <span class="modal-close modal-exit">X</span>
          </div>
        </div>

{% include 'partials/foot.njk' %}