---
layout: "layouts/front.njk"
title: Realizacje
description: Zobacz wybrane prace
---

<section class="hero pt-large pt-md-xlarge pb-small pb-md-large" data-scroll-section>
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6">
        <div class="hero-card hero-card-shape bg-accent-1">
          <svg class="hero-card-shape-svg" viewBox="0 0 691 53" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0V53C0 53 3.96649 35 28.2612 35C52.556 35 570.005 34.98 606.695 34.98C643.385 34.98 651 0 651 0H0Z" fill="var(--color-light-1)" />
            <path d="M690.717 0C645.947 0 648.377 21.6981 625.99 29.2453C625.99 29.2453 612.849 0 634.262 0H690.717Z" fill="var(--color-light-1)" />
          </svg>
          <div class="hero-card-content p-4 p-md-5">
            <!---
              <div class="hero-card-content-image"><img class="fade-in" src="/assets/img/hero/woman.png" alt=""></div>
              --->
            <p class="h3 split-lines my-3 color-light">Zobacz w czym</p>
            <h1 class="xxl split-lines my-3 my-md-4 uppercase color-light">Mogę Ci pomóc</h1>
            <div class="pt-xxsmall pb-xxsmall pb-md-xsmall">
              <div class="line-x"></div>
            </div>
            <div class="row align-items-center">
              <div class="col-3 col-md-2">
                 <img src="/assets/img/hero/avatar.png" style="width:55px; height:55px;" alt="">
              </div>
              <div class="col-9 col-md-8">
                <p class="h4 fade-in my-0 color-light">
                  Wypełnij formularz żeby otrzymać wstępną wycenę
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
          <div class="hero-card bg-light-2 d-md-flex align-items-center">
            <div class="p-2 fade-in">
                <video autoplay loop poster="/assets/img/video/movie-3-poster.png">
                  <source src="/assets/img/video/movie-3.webm">
                </video>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<section class="pb-small pb-md-large" data-scroll-section>
  <div class="container">
    <div class="row">
        <div class="col-md-4 ps-md-5">
  
        </div>
      <div class="col-md-8">
            <p class="h1 mt-md-0 text-highlight">
                <span>&nbsp;</span> Pomogłem wielu firmom lepiej wykorzystać ich potencjał i mogę zrobić to też dla Ciebie! Zobacz moje realizacje żeby wiedzieć czego możesz sie spodziewać
            </p>
      </div>
    </div>
  </div>
</section>


<section class="pb-md-large" data-scroll-section>
  <div class="container container-md">
    <svg class="service-wrap-svg" width="1359" height="67" viewBox="0 0 1359 67" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_3617_58)">
      <path d="M0 33.3591V66.5581L564.5 66.5581C511.05 66.5581 507.063 0.647538 442.5 0.19917C389.621 -0.168058 126.527 0.0665279 33.0351 0.16346C14.7152 0.182454 0 15.0393 0 33.3591Z" fill="var(--color-light-2)"/>
      </g>
    </svg>
    <div class="service-wrap p-3 pb-5 p-md-4 px-xl-5 pt-md-0 pb-md-5 bg-light-2">
      <h2 class="xl split-lines mt-3 mb-5">Moje usługi</h2>
      <div class="row g-3">
        <div class="col-md-6 fade-in">
            <div class="service-card p-3 py-4 p-md-4 p-lg-5 d-flex flex-wrap">
              <div class="col-12 col-lg-2">
                <img
                  src="/assets/img/services/icon-1.png"
                  width="70px"
                  height="70px"
                  alt="Strony internetowe"
                />
              </div>
              <div class="col-12 col-lg-10">
                <h3 class="h2 mt-2 mt-md-0 mb-3">Strony internetowe</h3>
                <p class="my-0">
                  Piękne i wysokowydajne strony internetowe które skutecznie realizują cele biznesowe.
                </p>
              </div>
            </div>
        </div>
        <div class="col-md-6 fade-in">
            <div class="service-card p-3 py-4 p-md-4 p-lg-5 d-flex flex-wrap">
              <div class="col-12 col-lg-2">
                <img
                  src="/assets/img/services/icon-6.png"
                  width="50px"
                  height="50px"
                  loading="lazy"
                  alt="Sklepy internetowe"
                />
              </div>
              <div class="col-12 col-lg-10">
                <h3 class="h2 mt-2 mt-md-0 mb-3">Sklepy internetowe</h3>
                <p class="my-0">
                  Funkcjonalne, nowoczesne i przemyślane sklepy oparte o platformę WooCommerce.
                </p>
              </div>
            </div>
        </div>
        <div class="col-md-6 fade-in">
            <div class="service-card p-3 py-4 p-md-4 p-lg-5 d-flex flex-wrap">
              <div class="col-12 col-lg-2">
                <img
                  src="/assets/img/services/icon-2.png"
                  width="50px"
                  height="50px"
                  loading="lazy"
                  alt="Pozycjonowanie"
                />
              </div>
              <div class="col-12 col-lg-10">
                <h3 class="h2 mt-2 mt-md-0 mb-3">Pozycjonowanie</h3>
                <p class="my-0">
                  Dobór fraz kluczowych, optymalizacja techniczna, analiza konkurencji, linkbuilding.
                </p>
              </div>
            </div>
        </div>
        <div class="col-md-6 fade-in">
            <div class="service-card p-3 py-4 p-md-4 p-lg-5 d-flex flex-wrap">
              <div class="col-12 col-lg-2">
                <img
                  src="/assets/img/services/icon-7.png"
                  width="50px"
                  height="50px"
                  loading="lazy"
                  alt="Serwisy i platformy"
                />
              </div>
              <div class="col-12 col-lg-10">
                <h3 class="h2 mt-2 mt-md-0 mb-3">Serwisy i platformy</h3>
                <p class="my-0">
                  Serwisy informacyjne i ogłoszeniowe, platformy szkoleniowe i systemy dla firm.
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'sections/form.njk' %}