---
layout: "layouts/front.njk"
title: Realizacje
description: Zobacz wybrane prace
---

<section class="hero pt-large pt-md-xlarge pb-large" data-scroll-section>
    <div class="container">
      <div class="row g-4">
        <div class="col-md-6">
        <div class="hero-card hero-card-shape bg-accent-1">
          <svg class="hero-card-shape-svg" viewBox="0 0 691 53" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0V53C0 53 3.96649 35 28.2612 35C52.556 35 570.005 34.98 606.695 34.98C643.385 34.98 651 0 651 0H0Z" fill="var(--color-light-1)" />
            <path d="M690.717 0C645.947 0 648.377 21.6981 625.99 29.2453C625.99 29.2453 612.849 0 634.262 0H690.717Z" fill="var(--color-light-1)" />
          </svg>
          <div class="hero-card-content p-4 p-md-5">
            <!---
              <div class="hero-card-content-image"><img class="fade-in" src="/assets/img/hero/woman.png" alt=""></div>
              --->
            <p class="h3 split-lines my-3 color-light">Zobacz w czym</p>
            <h1 class="xxl split-lines my-3 my-md-4 uppercase color-light">Mogę Ci pomóc</h1>
            <div class="pt-xxsmall pb-xxsmall pb-md-xsmall">
              <div class="line-x"></div>
            </div>
            <div class="row align-items-center">
              <div class="col-3 col-md-2">
                 <img src="/assets/img/hero/avatar.png" style="width:55px; height:55px;" alt="">
              </div>
              <div class="col-9 col-md-8">
                <p class="h4 fade-in my-0 color-light">
                  Wypełnij formularz żeby otrzymać wstępną wycenę
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-6">
          <div class="hero-card bg-light-2 d-md-flex align-items-center">
            <div class="p-2 fade-in">
                <video autoplay loop poster="/assets/img/video/movie-3-poster.png">
                  <source src="/assets/img/video/movie-3.webm">
                </video>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<section class="pb-large" data-scroll-section>
  <div class="container">
    <div class="row">
        <div class="col-md-3 ps-md-5">
  
        </div>
      <div class="col-md-9">
            <p class="h1 mt-md-0 text-highlight">
                <span>&nbsp;</span> Pomogłem wielu firmom lepiej wykorzystać ich potencjał i mogę zrobić to też dla Ciebie! Zobacz moje realizacje żeby wiedzieć czego możesz sie spodziewać
            </p>
      </div>
    </div>
  </div>
</section>
