---
pagination: 
    data: collections
    size: 1
    alias: tag
    addAllPagesToCollections: true
layout: layouts/base.njk
permalink: /blog/{{tag | slugify}}/
eleventyComputed:
    title: Kategoria {{tag}}
---


<section class="pt-xlarge pb-large" data-scroll-section>
    <div class="container">
        <div class="row gx-4 pb-medium d-none d-md-flex justify-content-center">
            <div class="col-auto">
              <a href="/blog/strony-www/" class="category-btn magnetic fadeIn" data-strength="50" title="Strony www">
                  <span class="btn-text"> Strony www </span>
              </a>
            </div>
            <div class="col-auto">
              <a href="/blog/pozycjonowanie/" class="category-btn magnetic fadeIn" data-strength="50" title="Pozycjonowanie">
                  <span class="btn-text"> Pozycjonowanie </span>
              </a>
            </div>
            <div class="col-auto">
              <a href="/blog/marketing/" class="category-btn magnetic fadeIn" data-strength="50" title="Marketing">
                  <span class="btn-text"> Marketing </span>
              </a>
            </div>
            <div class="col-auto">
              <a href="/blog/wordpress/" class="category-btn magnetic fadeIn" data-strength="50" title="Wordpress">
                  <span class="btn-text"> Wordpress </span>
              </a>
            </div>
            <div class="col-auto">
                <a href="/blog/poradniki/" class="category-btn magnetic fadeIn" data-strength="50" title="Wordpress">
                    <span class="btn-text"> Poradniki </span>
                </a>
            </div>
            <div class="col-auto">
                <a href="/blog/poradniki/" class="category-btn magnetic fadeIn" data-strength="50" title="Wordpress">
                    <span class="btn-text"> Ostatnia kategoria </span>
                </a>
            </div>
          </div>
          <div class="row gx-4">
            {% for post in collections[tag] %}
            <div class="col-md-4 pb-xsmall"> 
                <a href="{{ post.url }}" title="{{ post.data.title }}">
                              <div class="post-thumb fadeIn">
                                <img src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}" loading="lazy"/>
                              </div>
                              </a>
                              <p class="archive-category mb-3 fadeIn">
                                  {{ post.data.tags }}
                              </p>
                              <a href="{{ post.url }}" title="{{ post.data.title }}">
                                  <h3 class="split-text-lines line-clamp-2 mt-0 mb-4">
                                      {{ post.data.title }}
                                  </h3>
                              </a>
                              <a href="{{ post.url }}" title="Czytaj" class="button magnetic fadeIn mt-3" data-strength="100" data-strength-text="50">
                                  <span>Czytaj</span>
                                  <svg width="11" height="11" viewBox="0 0 14 14" fill="none"
                                      xmlns="http://www.w3.org/2000/svg">
                                      <path d="M13 1L1 13" stroke="var(--color-accent-1)" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                      <path d="M3 1H13V11" stroke="var(--color-accent-1)" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                  </svg>
                              </a>
                              <div class="line-x lx-1 lx-op mt-5"></div>
            </div> 
            {% endfor %}
          </div>
    </div>
  </section>

