---
layout: "layouts/nofooter.njk"
title: Darmowa wycena
description: Wypełnij krótki brief żeby otrzymać bezpłatną wycenę. Dobry plan jest kluczem do udanego projektu.
---

<section class="brief" data-scroll-section>
  <div class="container pt-large pb-large">
    <div class="row g-4">
      <div class="col-md-6">
        <div class="hero-card hero-card-shape bg-light-2">
          <svg class="hero-card-shape-svg" width="80%" height="auto" viewBox="0 0 691 53" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0V53C0 53 3.96649 35 28.2612 35C52.556 35 570.005 34.98 606.695 34.98C643.385 34.98 651 0 651 0H0Z" fill="var(--color-light-1)"/>
            <path d="M690.717 0C645.947 0 648.377 21.6981 625.99 29.2453C625.99 29.2453 612.849 0 634.262 0H690.717Z" fill="var(--color-light-1)"/>
          </svg>

          <div class="hero-card-content p-4 p-md-5">
            <!---
              <div class="hero-card-content-image">
                 <img class="fade-in" src="/assets/img/hero/woman.png" alt="">
              </div>
              --->
            <p class="h3 split-lines my-3">Wypełnij krótki brief</p>
            <h1 class="xxl split-lines my-4 uppercase">
              Darmowa wycena
              </h1>
            <div class="pt-xxsmall pb-xsmall">
              <div class="line-x"></div>
            </div>
            <div class="">
                <p class="h4 fade-in my-5 my-md-0">
                  Wypełnij krótki formularz żeby otrzymać darmowa wycenę
                </p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="hero-card bg-light-2">
          <div class="pt-3 pb-3 px-4">
                <div class="tab-status d-flex pt-xsmall">
                  <span class="tab active mb-3">1</span>
                  <span class="tab mb-3">2</span>
                  <span class="tab mb-3">3</span>
                  <span class="tab mb-3">4</span>
                  <span class="tab mb-3">5</span>
                </div>
              <div class="multiform">
                <form id="briefForm" action="" method="POST">
                  <div role="tab-list" class="tab-list">

                    <div role="tabpanel" id="color" class="tabpanel">
                      <h3 class="h2 mt-4 mb-5">Cel odwiedzin użytkowników</h3>
                      <div class="row g-1">
                        <div class="col-md-6">
                          <input type="checkbox" id="check1" name="kontakt_z_firma" class="form-input required">
                          <label for="check1">Kontakt z firmą</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check2" name="zakup_produktu" class="form-input required">
                          <label for="check2">Zakup produktu</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check3" name="zapis_na_newsletter" class="form-input required">
                          <label for="check3">Zapis na newsletter</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check4" name="zapis_na_kurs" class="form-input required">
                          <label for="check4">Zapis na kurs</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check5" name="informacje_o_firmie" class="form-input required">
                          <label for="check5">Informacje o firmie</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check6" name="zakup_uslugi" class="form-input required">
                          <label for="check6">Zakup usługi</label>
                        </div>
                      </div>
                    </div>

                    <div role="tabpanel" id="hobbies" class="tabpanel hidden">
                      <h3 class="h2 mt-4 mb-5">Zaznacz co już posiadasz </h3>
                      <div class="row g-1">
                        <div class="col-md-6">
                          <input type="checkbox" id="check21" name="logo_na_strone" class="form-input required">
                          <label for="check21">Logo</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check22" name="opisy_na_strone" class="form-input required">
                          <label for="check22">Opisy</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check23" name="zdjecia_na_strone" class="form-input required">
                          <label for="check23">Zdjęcia</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check24" name="grafiki_na_strone" class="form-input required">
                          <label for="check24">Grafiki</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check25" name="domena_www" class="form-input required">
                          <label for="check25">Domena</label>
                        </div>
                        <div class="col-md-6">
                          <input type="checkbox" id="check26" name="hosting_www" class="form-input required">
                          <label for="check26">Hosting</label>
                        </div>
                      </div>
                    </div>

                    <div role="tabpanel" id="hobbies" class="tabpanel hidden">
                      <h3 class="h2 mt-4 mb-5">Strony które Ci się podobają</h3>
                      <div class="row g-3">
                        <div class="col-md-6">
                          <div class="floating-label">
                            <input class="form-input floating-input required" type="text" name="url_one" placeholder="">
                            <span class="highlight"></span>
                            <label>Adres url 1</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="floating-label">
                            <input type="text" name="url_two" class="form-input floating-input required" placeholder="">
                            <span class="highlight"></span>
                            <label>Adres url 2</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="floating-label">
                            <input type="text" name="url_three" class="form-input floating-input" placeholder="">
                            <span class="highlight"></span>
                            <label>Adres url 3</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="floating-label">
                            <input type="text" name="url_four" class="form-input floating-input required" placeholder="">
                            <span class="highlight"></span>
                            <label>Adres url 4</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div role="tabpanel" id="color" class="tabpanel hidden">
                      <h3 class="h2 mt-4 mb-5">Dane kontaktowe</h3>
                      <div class="row g-3">
                        <div class="col-md-6">
                          <div class="floating-label">
                            <input class="form-input floating-input required" type="text" name="imie_i_nazwisko" placeholder="">
                            <span class="highlight"></span>
                            <label>Imię i nazwisko</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="floating-label">
                            <input type="text" name="adres_email" class="form-input floating-input required" placeholder="">
                            <span class="highlight"></span>
                            <label>Adres email</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="floating-label">
                            <input type="text" name="numer_telefonu" class="form-input floating-input" placeholder="">
                            <span class="highlight"></span>
                            <label>Numer telefonu</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="floating-label">
                            <input type="text" name="nazwa_firmy" class="form-input floating-input required" placeholder="">
                            <span class="highlight"></span>
                            <label>Nazwa firmy</label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div role="tabpanel" id="occupation" class="tabpanel hidden">
                      <h3 class="h2 mt-4 mb-5">Dodatkowe informacje</h3>
                      <div class="floating-label">
                        <textarea class="form-input floating-input floating-textarea" rows="5" name="dodatkowe_informacje" placeholder=" "></textarea>
                        <span class="highlight"></span>
                        <label>Wiadomość</label>
                      </div>
                    </div>

                  </div>
                  <div class="pagination mt-4">
                    <button id="prev" class="button-anim btn-write hidden my-4 mt-sm-2 fade-in">
                      <div class="button-anim-text">
                        <span>Poprzednie</span>
                        <span>Poprzednie</span>
                      </div>
                      <div class="button-anim-icon">
                        <svg class="icon-dollar" width="18" height="18" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M21.384 17.6074H20.9496V10.7611H25.6794C26.4486 10.7611 27.0722 10.1375 27.0722 9.36834C27.0722 8.59918 26.4486 7.97557 25.6794 7.97557H20.9496V3.39239C20.9496 2.6236 20.326 2 19.5564 2C18.7869 2 18.1637 2.6236 18.1637 3.39239V7.97594H17.2083C13.7848 7.97594 11 10.7611 11 14.1843C11 17.6078 13.7848 20.3922 17.2083 20.3922H18.1637V27.2382H12.9133C12.1445 27.2382 11.5209 27.8621 11.5209 28.6313C11.5209 29.4001 12.1445 30.0241 12.9133 30.0241H18.164V34.6072C18.164 35.3764 18.7876 36 19.5568 36C20.326 36 20.9499 35.3764 20.9499 34.6072V30.0233H21.3844C24.8083 30.0233 27.5931 27.2382 27.5931 23.815C27.5923 20.3922 24.8075 17.6074 21.384 17.6074ZM13.7852 14.1843C13.7852 12.2968 15.3213 10.7611 17.2087 10.7611H18.164V17.6074H17.2087C15.3213 17.6074 13.7852 16.0717 13.7852 14.1843ZM21.384 27.2382H20.9496V20.3922H21.384C23.2711 20.3922 24.8079 21.9276 24.8079 23.8161C24.8075 25.7035 23.2714 27.2382 21.384 27.2382Z" fill="white"/>
                        </svg>
                      </div>
                    </button>
                    <button id="next" class="button-anim btn-write my-4 mt-sm-2 fade-in">
                      <div class="button-anim-text">
                        <span>Kolejne</span>
                        <span>Kolejne</span>
                      </div>
                      <div class="button-anim-icon">
                        <svg class="icon-dollar" width="18" height="18" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M21.384 17.6074H20.9496V10.7611H25.6794C26.4486 10.7611 27.0722 10.1375 27.0722 9.36834C27.0722 8.59918 26.4486 7.97557 25.6794 7.97557H20.9496V3.39239C20.9496 2.6236 20.326 2 19.5564 2C18.7869 2 18.1637 2.6236 18.1637 3.39239V7.97594H17.2083C13.7848 7.97594 11 10.7611 11 14.1843C11 17.6078 13.7848 20.3922 17.2083 20.3922H18.1637V27.2382H12.9133C12.1445 27.2382 11.5209 27.8621 11.5209 28.6313C11.5209 29.4001 12.1445 30.0241 12.9133 30.0241H18.164V34.6072C18.164 35.3764 18.7876 36 19.5568 36C20.326 36 20.9499 35.3764 20.9499 34.6072V30.0233H21.3844C24.8083 30.0233 27.5931 27.2382 27.5931 23.815C27.5923 20.3922 24.8075 17.6074 21.384 17.6074ZM13.7852 14.1843C13.7852 12.2968 15.3213 10.7611 17.2087 10.7611H18.164V17.6074H17.2087C15.3213 17.6074 13.7852 16.0717 13.7852 14.1843ZM21.384 27.2382H20.9496V20.3922H21.384C23.2711 20.3922 24.8079 21.9276 24.8079 23.8161C24.8075 25.7035 23.2714 27.2382 21.384 27.2382Z" fill="white"/>
                        </svg>
                      </div>
                    </button>
                    <input class="btn btn-submit hidden" id="submit" type="submit" value="Wyślij">
                  </div>
                  <div id="send_brief_form_status" class="form-status"></div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

