<section class="bg-blue-01 dark-theme-display" data-scroll-section>
    <img src="/assets/img/bg-blue-01.webp" alt="">
</section>

<style>
    .bg-blue-01 img {
       position: absolute;
       top: 3%;
       left: 0;
       width: 100%;
       opacity: .15;
    }

    .bg-blue-01 {
  display: none;
}

@media (prefers-color-scheme:dark) { 
    .bg-blue-01 {
      display: block;
    }
  }

</style>