<section class="pb-large" data-scroll-section>
    <div class="container">
        <div class="row g-3">
            {% for post in collections.clients %}
            <div class="col-4 col-md-3">
              <div class="p-5 fade-in">
                <img src="{{ post.data.logo }}" alt="">     
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
  </section>