<section class="pb-large" data-scroll-section>
  <div class="container">
    <div class="row g-0">
      <div class="col-md-4">

          <a data-modal="modal-one">        
              <img src="/assets/img/hero/avatar.png" class="avatar ms-md-5 mt-3" width="90px" height="90px" alt="">
          </a>

      </div>
      <div class="col-md-8">
        <p class="h1 mt-0 split-text">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Skontaktuj się ze mną i zdobądź piękną, wysokowydajną stronę internetową, która przekona znacznie więcej klientów niż strony Twojej konkurencji! 
        </p>
      </div> 
    </div>
  </div>
</section>