<section class="pb-large" data-scroll-section>
  <div class="container">
    <div class="row g-0">
      <div class="col-md-4 pt-2 ps-md-5">

          <img src="/assets/img/hero/avatar.png" class="avatar" width="90px" height="90px" alt="">
          
          <button class="modal-play-btn magnetic" data-strength="40" data-modal="modal-one">
          <svg aria-hidden="true" role="img" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="100%" height="100%">
            <path d="M13.9 7.35a.7.7 0 0 1 0 1.213l-8.4 4.85a.7.7 0 0 1-1.05-.606v-9.7a.7.7 0 0 1 1.05-.606l8.4 4.85Z"></path>
          </svg>
          </button>

      </div>
      <div class="col-md-8">
        <p class="h1 mt-md-0 text-highlight">
            <span>&nbsp;</span> Kompleksowo wykonam dla Ciebie piękną, wysokowydajną stronę internetową, która przekona znacznie więcej klientów niż strony Twojej konkurencji! 
        </p>
      </div> 
    </div>
  </div>
</section>