<section class="hero pt-large pb-medium pb-md-xlarge" data-scroll-section>
  <div class="container">
    <div class="row g-4">
      <div class="col-md-8">
        <div class="hero-card hero-card-shape bg-light-2">
          <svg class="hero-card-shape-svg" width="80%" height="auto" viewBox="0 0 691 53" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0V53C0 53 3.96649 35 28.2612 35C52.556 35 570.005 34.98 606.695 34.98C643.385 34.98 651 0 651 0H0Z" fill="var(--color-light-1)"/>
            <path d="M690.717 0C645.947 0 648.377 21.6981 625.99 29.2453C625.99 29.2453 612.849 0 634.262 0H690.717Z" fill="var(--color-light-1)"/>
          </svg>

          <div class="hero-card-content p-4 p-md-5">
            <div class="fade-in">
               <img class="hero-card-content-image" src="/assets/img/hero/hand.webp" alt="">
            </div>
            <p class="h3 split-lines my-3" id="greeting"></p>
            <h1 class="xxl split-lines my-4 uppercase">
            Pokaż się z najlepszej strony www
            </h1>
            <div class="pt-xxsmall pb-xsmall">
              <div class="line-x"></div>
            </div>
            <div class="d-flex flex-wrap">
              <div class="col-md-6">
                <button class="button-anim btn-write magnetic mt-2 fade-in" data-strength="40">
                  <div class="button-anim-text">
                    <span>Szybka wycena</span>
                    <span>Wypełnij brief</span>
                  </div>

                  <div class="button-anim-icon">
                    <svg class="icon-pencil" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <rect id="view-box" fill="none"/>
                      <path id="Shape" d="M.75,17.5A.751.751,0,0,1,0,16.75V12.569a.755.755,0,0,1,.22-.53L11.461.8a2.72,2.72,0,0,1,3.848,0L16.7,2.191a2.72,2.72,0,0,1,0,3.848L5.462,17.28a.747.747,0,0,1-.531.22ZM1.5,12.879V16h3.12l7.91-7.91L9.41,4.97ZM13.591,7.03l2.051-2.051a1.223,1.223,0,0,0,0-1.727L14.249,1.858a1.222,1.222,0,0,0-1.727,0L10.47,3.91Z" transform="translate(3.25 3.25)" stroke-width="2px" fill="#fff"/>
                    </svg>
                    <div class="icon-line"></div>

                  </div>
                </button>
              </div>
              <div class="col-md-6">
                <p class="h4 fade-in my-5 my-md-0">
                Zdobądź profesjonalną stronę internetową już od 1500zł
              </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="hero-card bg-light-2">
          <div class="pt-5 pb-3 px-4">
            <h3 class="split-lines my-3">
              Zobacz moje prace
             </h3>
          </div>
          <div class="slider slider-left">
            <div class="slide-track">
              <div class="slide">
                <img src="/assets/img/hero/Layout-01.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-02.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-03.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-04.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-05.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-07.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-09.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-01.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-02.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-03.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-04.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-05.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-07.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-09.jpg" height="150" width="230" alt=""/>
              </div>
            </div>
          </div>
          <div class="slider slider-right">
            <div class="slide-track">
              <div class="slide">
                <img src="/assets/img/hero/Layout-10.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-18.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-19.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-15.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-23.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-17.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-24.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-10.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-18.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-19.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-15.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-23.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-17.jpg" height="150" width="230" alt=""/>
              </div>
              <div class="slide">
                <img src="/assets/img/hero/Layout-24.jpg" height="150" width="230" alt=""/>
              </div>
            </div>
          </div>
          <div class="py-4 px-5 px-md-4">
            <button class="button-anim btn-write magnetic d-none d-md-flex fade-in" data-strength="40">
              <div class="button-anim-text">
                <span>Więcej realizacji</span>
                <span>Zobacz wszystkie</span>
              </div>

              <div class="button-anim-icon">
                <svg class="icon-pencil" width="18" height="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <rect id="view-box" fill="none"/>
                  <path id="Shape" d="M.75,17.5A.751.751,0,0,1,0,16.75V12.569a.755.755,0,0,1,.22-.53L11.461.8a2.72,2.72,0,0,1,3.848,0L16.7,2.191a2.72,2.72,0,0,1,0,3.848L5.462,17.28a.747.747,0,0,1-.531.22ZM1.5,12.879V16h3.12l7.91-7.91L9.41,4.97ZM13.591,7.03l2.051-2.051a1.223,1.223,0,0,0,0-1.727L14.249,1.858a1.222,1.222,0,0,0-1.727,0L10.47,3.91Z" transform="translate(3.25 3.25)" stroke-width="2px" fill="#fff"/>
                </svg>
                <div class="icon-line"></div>

              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
