<section class="pb-large" data-scroll-section>
    <div class="container">
        <div class="service-wrap p-4 p-md-5 bg-light-2 pb-xlarge">

            <svg class="service-wrap-svg" width="70%" height="auto" viewBox="0 0 691 53" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M690.719 0V53C690.719 53 686.752 35 662.458 35C638.163 35 120.714 34.98 84.0237 34.98C47.3337 34.98 39.7188 0 39.7188 0H690.719Z" fill="var(--color-light-1)"/>
            <path d="M0.00153351 0C44.7715 0 42.3415 21.6981 64.7285 29.2453C64.7285 29.2453 77.8695 0 56.4565 0H0.00153351Z" fill="var(--color-light-1)"/>
            </svg>

            <h2 class="xl split-lines mt-3 mb-5">
                Moje usługi
            </h2>

            <div class="row g-3">
                <div class="col-md-6">
                    <a href="#">
                    <div class="service-card p-5 d-flex">
                        <div class="col-4">
                            <img src="/assets/img/services/care.svg" width="50px" height="50px" alt="">
                            <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="27.5" cy="27.5" r="27" stroke="var(--color-dark-1)" stroke-opacity="0.2"/>
<path d="M22.5 33.5L33.5 22.5" stroke="var(--color-dark-1)" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.25 22.5H33.5V30.75" stroke="var(--color-dark-1)" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        </div>
                        <div class="col-8">
                            <h3 class="h2 mt-2">
                                Strony internetowe
                            </h3>
                            <p class="mb-0">
                                Tworzę strony internetowe, które pomagają w sprzedaży produktów oraz usług
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                    <div class="service-card p-5 d-flex">
                        <div class="col-4">
                            <img src="/assets/img/services/care.svg" width="50px" height="50px" alt="">
                            <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="27.5" cy="27.5" r="27" stroke="var(--color-dark-1)" stroke-opacity="0.2"/>
<path d="M22.5 33.5L33.5 22.5" stroke="var(--color-dark-1)" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.25 22.5H33.5V30.75" stroke="var(--color-dark-1)" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        </div>
                        <div class="col-8">
                            <h3 class="h2 mt-2">
                                Sklepy internetowe
                            </h3>
                            <p class="mb-0">
                                Sklepy internetowe, wyposażone w niezbędne narzędzia ułatwiające sprzedaż w internecie
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                    <div class="service-card p-5 d-flex">
                        <div class="col-4">
                            <img src="/assets/img/services/care.svg" width="50px" height="50px" alt="">
                            <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="27.5" cy="27.5" r="27" stroke="var(--color-dark-1)" stroke-opacity="0.2"/>
<path d="M22.5 33.5L33.5 22.5" stroke="var(--color-dark-1)" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.25 22.5H33.5V30.75" stroke="var(--color-dark-1)" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        </div>
                        <div class="col-8">
                            <h3 class="h2 mt-2">
                                Pozycjonowanie 
                            </h3>
                            <p class="mb-0">
                                Sklepy internetowe, wyposażone w niezbędne narzędzia ułatwiające sprzedaż w internecie
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                    <div class="service-card p-5 d-flex">
                        <div class="col-4">
                            <img src="/assets/img/services/care.svg" width="50px" height="50px" alt="">
                            <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="27.5" cy="27.5" r="27" stroke="var(--color-dark-1)" stroke-opacity="0.2"/>
<path d="M22.5 33.5L33.5 22.5" stroke="var(--color-dark-1)" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.25 22.5H33.5V30.75" stroke="var(--color-dark-1)" stroke-width="1.83333" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                        </div>
                        <div class="col-8">
                            <h3 class="h2 mt-2">
                                Google ADS
                            </h3>
                            <p class="mb-0">
                                Sklepy internetowe, wyposażone w niezbędne narzędzia ułatwiające sprzedaż w internecie
                            </p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>