<section class="pb-xlarge" data-scroll-section>
  <div class="css-blurry-gradient"></div>
  <div class="container">
    <svg class="service-wrap-svg" width="1359" height="67" viewBox="0 0 1359 67" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_3617_58)">
      <path d="M0 33.3591V66.5581L564.5 66.5581C511.05 66.5581 507.063 0.647538 442.5 0.19917C389.621 -0.168058 126.527 0.0665279 33.0351 0.16346C14.7152 0.182454 0 15.0393 0 33.3591Z" fill="var(--color-light-2)"/>
      </g>
    </svg>
    <div class="service-wrap p-4 p-md-5 pt-md-0 pb-md-3 bg-light-2">
      <h2 class="xl split-lines mt-3 mb-5">Realizacje</h2>
      {% for post in collections.works.slice(0, 5) %}
      <div class="works-grid-item border mb-5 bg-light-1">
        <div class="row gx-0 flex-md-row-reverse align-items-center">
          <div class="col-md-7">
            <a href="{{ post.url }}" title="{{ post.data.title }}">
              <div class="portfolio-item fade-in">
                <div class="parallax-wrap aspect_md_16-12">
                  {% workImage "src/" + post.data.thumbnail, post.data.title %}
                </div>
              </div>
            </a>
          </div>
            <div class="col-md-5 p-md-5">
                  <p class="split-lines color-dark-2 bold mt-4 mt-md-0 mb-2">
                    {{ post.data.client }}
                  </p>
                  <h2 class="archive-post-title split-lines h2 my-3">
                    {{ post.data.title }}
                  </h2>
                  <p class="line-clamp-3 split-lines mt-4 mb-4">
                    {{ post.data.description }}
                  </p>
                <a
                  href="{{ post.data.link }}"
                  title="Zobacz więcej"
                  class="button magnetic fade-in mt-1 mb-2"
                  data-strength="100"
                  data-strength-text="50"
                >
                  <span>Zobacz online</span>
                  <svg
                    width="11"
                    height="11"
                    viewBox="0 0 14 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13 1L1 13"
                      stroke="var(--color-accent-1)"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                    <path
                      d="M3 1H13V11"
                      stroke="var(--color-accent-1)"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </a>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
