<section class="pt-small pb-xlarge" data-scroll-section>
  <!--
  <div class="css-blurry-gradient"></div>
  -->
  <div class="container">
    <svg class="service-wrap-svg" width="1359" height="67" viewBox="0 0 1359 67" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_3617_58)">
        <path d="M0 33.3591V66.5581L564.5 66.5581C511.05 66.5581 507.063 0.647538 442.5 0.19917C389.621 -0.168058 126.527 0.0665279 33.0351 0.16346C14.7152 0.182454 0 15.0393 0 33.3591Z" fill="var(--color-light-2)"/>
      </g>
    </svg>
    <div class="service-wrap p-4 p-md-5 pt-md-0 pb-md-3 bg-light-2">
      <h2 class="xl split-lines mt-3 mb-5">Realizacje</h2>
          {% for post in collections.works %}
            <div class="works-grid-item mb-5">
              <div class="portfolio-item fade-in">

                <svg class="works-grid-svg" width="861" height="53" viewBox="0 0 861 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0V51C0 51 3.20529 34.98 27.5 34.98C51.7948 34.98 249.005 34.98 285.695 34.98C322.385 34.98 330 0 330 0H0Z" fill="var(--color-light-2)"/>
                  <path d="M369.717 0C324.947 0 327.377 21.6981 304.99 29.2453C304.99 29.2453 291.849 0 313.262 0H369.717Z" fill="var(--color-light-2)"/>
                </svg>

                <div class="hover-img-wrap aspect_16-13">
                  {% workImage "src/" + post.data.thumbnail,
                  post.data.title %}
                </div>
              </div>

              <p class="split-lines color-dark-2 bold mt-4 mb-2">
                {{ post.data.client }}
              </p>
              <h3 class="h3 archive-post-title split-lines my-3">
                {{ post.data.title }}
              </h3>

            </div>
          {% endfor %}
    </div>
  </div>
</section>